.navbar {
    width: 100%;
    min-height: var(--navbar-height);
    height: var(--navbar-height);
    background: white;
    grid-area: navb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: var(--section-divider-width) solid var(--section-divider-color);
    z-index: 100;
}

.navbar .sidebar_toggle {
    width: 45px;
    height: 45px;
    padding: 8px;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.navbar .brand {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .search_box {
    background: #f0f0f0;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.navbar .search_box svg {
    width: 45px;
    height: 45px;
    padding: 11px;
    color: #111;
}

.navbar .search_box input {
    width: 200px;
    background: transparent;
    height: 100%;
    padding: 0 10px 0 0;
    font-size: 1rem;
}

.navbar .search_box input::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;
}

.navbar .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar .profile .profile_label {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
}

.navbar .profile.active .profile_label {
    background: #f5f5f5;
    border: 1px solid #ddd;
}

.navbar .profile .profile_label:hover {
    background: #eee;
}

.navbar .profile .profile_label .icon {
    width: 35px;
    height: 35px;
    background: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: white;
    overflow: hidden;
}

.navbar .profile .profile_label .name {
    margin: 0 15px;
    font-size: 1rem;
    color: #333;
    position: relative;
    display: flex;
    align-items: center;
}

.navbar .profile .profile_label .name::after {
    content: '';
    width: 0px;
    height: 0px;
    margin-top: -3px;
    position: absolute;
    right: -15px;
    border: 3px solid transparent;
    border-bottom: 3px solid #333;
    border-left: 3px solid #333;
    transform: rotate(-45deg);
}

.navbar .profile .profile_popup {
    width: 330px;
    background: white;
    border-radius: 4px;
    border: 1px solid #ddd;
    position: absolute;
    right: 0;
    z-index: 99;
    top: calc(100% + 3px);
    box-shadow: 2px 3px 1px #ddd;
    display: none;
    flex-direction: column;
    outline: none;
}

.navbar .profile.active .profile_popup {
    display: flex;
}

.navbar .profile .profile_popup .section_one {
    display: grid;
    grid-template-areas:
        'icon name'
        'icon email';
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid #ddd;
    padding: 15px 8px 15px 15px;
}

.navbar .profile .profile_popup .section_one .icon {
    width: 50px;
    height: 50px;
    grid-area: icon;
    background: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    overflow: hidden;
    margin-right: 10px;
}

.navbar .profile .profile_popup .section_one .name {
    grid-area: name;
    font-size: 1rem;
}

.navbar .profile .profile_popup .section_one .email {
    grid-area: email;
    font-size: 0.85rem;
    color: #666;
}

.navbar .profile .profile_popup .section_two {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-areas:
        'label edit'
        'user edit';
    grid-template-columns: 1fr auto;
    padding: 15px;
}

.navbar .profile .profile_popup .section_two .label {
    grid-area: label;
    font-size: 0.85rem;
    color: #666;
}

.navbar .profile .profile_popup .section_two .username {
    grid-area: user;
    font-size: 1.1rem;
    color: #333;
}

.navbar .profile .profile_popup .section_two .btn_edit {
    height: fit-content;
    grid-area: edit;
    background: white;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #333;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.navbar .profile .profile_popup .section_two .btn_edit:hover {
    background: #f6f6f6;
}

.navbar .profile .profile_popup .section_three {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
}

.navbar .profile .profile_popup .section_three > * {
    margin-bottom: 2px;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    color: #333;
}

.navbar .profile .profile_popup .section_three>*:hover {
    background: #eee;
}

@media screen and (max-width:768px) {
    .navbar .sidebar_toggle:hover {
        background: #eee;
    }

    .navbar .profile .profile_label .name {
        display: none;
    }
}

@media screen and (max-width:550px) {
    .navbar .search_box {
        background: transparent;
    }

    .navbar .search_box:hover {
        background: #eee;
        cursor: pointer;
    }

    .navbar .search_box.active {
        background: #eee;
        border: 1px solid #ccc;
    }

    .navbar .search_box svg {
        padding: 8px;
    }

    .navbar .search_box .input {
        display: none;
        position: absolute;
        width: 100%;
        flex: 1 1 auto;
        height: 70px;
        top: var(--navbar-height);
        left: 0;
        background: white;
        z-index: 99;
        padding: 8px 15px;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 2px 8px #ddd;
        /* outline: none; */
    }

    .navbar .search_box.active .input {
        display: block;
    }

    .navbar .search_box .input input {
        background: #f0f0f0;
        width: 100%;
        border-radius: 4px;
        padding: 0 10px;
    }
}